h1 {
    font-family: "Times New Roman", 黑体, serif;
    font-size: 22pt !important;
    font-weight: normal !important;
}

h2 {
    font-family: "Times New Roman", 黑体, serif;
    font-size: 16pt !important;
    font-weight: bold !important;
}

h3 {
    font-family: "Times New Roman", 黑体, serif;
    font-size: 14pt !important;
    font-weight: normal !important;
}

h4 {
    font-family: "Times New Roman", 宋体, serif;
    font-size: 12pt !important;
    font-weight: bold !important;
}

article p {
    font-family: "Times New Roman", 宋体, serif;
    font-size: 12pt;
    font-weight: normal;
}

article li {
    font-family: "Times New Roman", 宋体, serif;
    font-size: 10.5pt;
    font-weight: normal;
}