/*一级标题*/
h3 {
  font-family: 黑体, serif;
  font-size: 16pt;
  font-weight: bold;
}

/*二级标题*/
h4 {
  font-family: 黑体, serif;
  font-size: 14pt;
}

/*三级标题*/
h5 {
  font-family: 宋体, serif;
  font-size: 12pt;
  font-weight: bold;
}

/*正文*/
article p {
  font-family: "Times New Roman", 宋体, serif;
  font-size: 12pt;
}

/*列表*/
article li {
  font-family: "Times New Roman", 宋体, serif;
  font-size: 10.5pt;
}

